/* Make sure images don't get too big */
img {
  max-width: 100%;
}

h1,h2,h3,h4,h5 {
  text-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}

/* no-gutters Class Rules */
.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  border-right: 1px solid #555;
  padding-right: 20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu-bar {
  height: 70px;
  padding-top: 15px;
  background-image: linear-gradient(#000, #222);
}

.menu-bar button {
  color: #ddd;
  outline: none;
}

.audio-player-artist {
  text-align: right;
  border-right: 1px solid #555;
  padding: 6px;
  font-size: 9px;
}

.audio-player-song {
  text-align: left;
  padding: 3px 6px 0 6px;
  font-size: 14px;
  border-right: 1px solid #555;
}

.audio-player-time {
  font-size: 8px;
  float: right;
  padding-top: 7px;
}

.audio-player-controls {
  border-right: 1px solid #555;
}

.audio-player-controls button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.audio-player-controls button i {
  font-size: 24px;
}

.audio-player-controls button:hover {
  color: #fff;
}

.queue-icon {
  font-size: 24px;
  padding-top: 2px;
}

.queue-icon a {
  color: #ddd;
}

.queue-icon a:hover {
  color: #fff;
}

.badge-position {
  position: relative;
  transform: (-100%, -100%);
}

i {
    text-align:center;
    vertical-align:middle;
    position: relative;
}
.badge {
  font-size: 24px;
}
.badge:after{
    content:attr(data-count);
    position: absolute;
    background: rgba(0,0,255,0.85);
    height:1.2rem;
    top:0;
    right:0.5rem;
    width:1.2rem;
    text-align: center;
    line-height: 1.2rem;;
    font-size: 9px;
    color:white;
    border-radius: 50%;
    border:1px solid blue;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue";
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.75);
}

.song-card {
    /*background-color: rgba(0, 0, 0, 0);*/
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.75));
    height: inherit;
    padding: 20px;
    cursor: pointer;
}

.song-card-hover {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.25));
  /*
  animation-name: hoverAnim;
	-webkit-animation-name: hoverAnim;

	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-fill-mode: forwards;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
  */
}

@keyframes hoverAnim {
	0% {
		background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.75));
  }
  50% {
    background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.5));
  }
	100% {
		background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.25));
	}
}

@-webkit-keyframes hoverAnim {
	0% {
		background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.75));
  }
  50% {
    background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.5));
  }
	100% {
		background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.25));
	}
}